/* input[type=text] { */
/* border-bottom: 2px solid #606060; */
/* border-radius: 3px; */
/* box-shadow: 1px 1px 3px 1px #a0a0a0; */
/* height: 2em; */
/* width: auto;
    box-sizing: border-box;
    background-color: rgba(256, 256, 256, 0.5);
    border: none; */
/* border-bottom: none; */
/* border-right: none; */
/* } */

/* input[type=text]:focus {
    border: 2px solid #668bc2;
    box-shadow: 2px 2px 5px 1px #668bc2;
    outline:0px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out
}

.input-parent-div {
    margin-top: 10px;
} */
