.classic{
    font-size: 0.85em;
    padding:0.35em 1.2em;
    border: 1px solid #7928CA;
    background-color: white;
    color: #7928CA;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}


.classic:hover{
    border: 1px solid #FF0080;
    background-color: white;
    color: #FF0080;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.reverse{
    font-size: 0.85em;
    padding:0.35em 1.2em;
    border: 1px solid  #FF0080;
    background-color: white;
    color: #FF0080;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}


.reverse:hover{
    border: 1px solid #7928CA;
    background-color: white;
    color: #7928CA;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.all-reverse{
    font-size: 0.85em;
    padding:0.35em 1.2em;
    border: 1px solid white;
    background-color: #FF0080;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

.all-reverse:hover{
    border: 1px solid  #FF0080;
    background-color: white;
    color: #FF0080;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.reverse-classic{
    font-size: 0.85em;
    padding:0.35em 1.2em;
    border: 1px solid  #7928CA;
    background-color: white;
    color: #7928CA;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

.reverse-classic:hover{
    border: 1px solid white;
    background-color: #7928CA;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

@media (max-width: 697px) {
    .reverse, .reverse-classic, .classic {
        font-size: 0.7em;
        padding:0.2em 0.8em;
    }
  }

.reverse:disabled, 
.reverse-classic:disabled, 
.classic:disabled, 
.all-reverse:disabled {
    border: 1px solid  #808080;
    background-color: white;
    color: #808080;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}