.classic{
    border: 1px solid #7928CA;
    background-color: white;
    color: #7928CA;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}


.classic:hover{
    border: 1px solid #FF0080;
    background-color: white;
    color: #FF0080;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.reverse{
    border: 1px solid  #FF0080;
    background-color: white;
    color: #FF0080;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}


.reverse:hover{
    border: 1px solid #7928CA;
    background-color: white;
    color: #7928CA;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.all-reversed{
    border: 1px solid white;
    background-color: #FF0080;
    color: white;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.all-reversed:hover{
    border: 1px solid  #FF0080;
    background-color: white;
    color: #FF0080;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.reverse-classic{
    border: 1px solid  #7928CA;
    background-color: white;
    color: #7928CA;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.reverse-classic:hover{
    border: 1px solid white;
    background-color: #7928CA;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}