body {
  background-color: rgba(36, 101, 223, 0.431);
}

.App {
  background-color: rgba(49, 48, 48, 0.096);
  border-radius: 10px;
  padding: 3em;
}

form {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  margin: auto;
  grid-column-gap: 5%;
  color: #fff;
}
